---
---

/* Navigation bar */
.nav__items {
    font-size: 0.85rem;
}


/* Overall website font */
body{
    font-family:'Segoe UI', sans-serif;
}


/* Blue subsection headings */
h3{
    color:#2563EB;
    font-weight:700;
}


/* Purple bold text */
strong{
    color:#4F46E5;
}


/* Colored section heading boxes */
.section-title{
    display:inline-block;
    background:#4F6D7A;
    color:white;
    padding:10px 18px;
    border-radius:12px;
    font-size:1.3rem;
    font-weight:700;
    margin-top:30px;
    margin-bottom:20px;
}


/* Teaching Assistant block styling */
.ta-block{
    margin-top:10px;
    line-height:1.7;
}


/* IIT Bombay / ePGD headings */
.ta-block h4{
    color:#2563EB;
    font-size:1.1rem;
    margin-top:20px;
    margin-bottom:8px;
}


/* Course names */
.ta-block strong{
    color:#4F46E5;
    font-size:1rem;
}


/* Add soft card effect */
.ta-block{
    background:#F8FAFC;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
}


/* Coursework card */
.course-card{
    background:#F8FAFC;
    padding:20px;
    border-radius:15px;
    margin-top:10px;
}


/* Hover effect */
.course-card:hover,
.ta-block:hover{
    transform:translateY(-3px);
    transition:0.3s;
}


/* Homepage image styling */
img{
    object-fit:cover;
}
